html {
    background-image: url("https://img.freepik.com/free-photo/solid-navy-blue-concrete-textured-wall_53876-124584.jpg?w=1380&t=st=1674576834~exp=1674577434~hmac=cf92eed463b52eac429042bbd8a45239ab5b98b2bfa01aea347c321d5cc05876");
    background-size: cover;
    color: black;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
}

#main {
    border: 0px solid;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(230, 230, 230);
    padding: 0px 50px 30px 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#title {
        border: 0px solid;
        max-width: 920px;
        text-align: center;
        margin: 0 auto;
        padding: 40px 20px 20px 20px;
        margin-top: 20px;  
}

h2 {
    font-size: 20px;
}
#image{
    max-width: 100%;
    height: auto;
    display:block;
    border: 2px solid;
    margin: 0 auto;
}

#img-caption {
    text-align: center;
    padding-top: -10px;
    font-size: 10px;
}

#tribute-info {
    text-align: justify;
    margin: 0 auto;
    color: black
}

blockquote{
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

footer {
    font-size: 12px;
}